<h1>Admin::Dashboard#show</h1>
<br>
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Object Counted</th>
        <th>Total Count</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>Products</td>
          <td><%= @total_products %></td>
        </tr>
        <tr>
          <td>Categories</td>
          <td><%= @total_categories %></td>
        </tr>
    </tbody>
  </table>
</div>